@page
@model CSharpLab4.Pages.Teams.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.ID" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.CoachID" class="control-label"></label>
                <select asp-for="Team.CoachID" class="form-control" asp-items="ViewBag.CoachID"></select>
                <span asp-validation-for="Team.CoachID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table"
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach(var player in Model.AssignedPlayerDataList)
                                {
                                    if(cnt++%3==0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedPlayers"
                                               value="@player.PlayerID"
                                               @(Html.Raw(player.Assigned ? "checked=\"checked\"":"")) />
                                               @player.PlayerID @: @player.Name
                                    @:</td>
                                }
                            }
                        </tr>
                    </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
